.contact-info {
    background-color: #333;
    border-radius: 25px;
    color: #eee;
    text-align: left;
    line-height: 1.2em;
    padding-left: 1em;
    min-width: 540px;
    max-width: 590px;
    margin-left: auto;
    margin-right: 7em;
    padding-top: 0.5em;
    padding-bottom: 3em;
    pre {
        overflow: visible;
    }
    span {
        display: inline-block;
        width: 40%;
        margin-left: 30px;
    }
}