<h2> Edit personal details </h2>

<table *ngIf="user">
    <tr>
        <td>Address</td>
        <td><input class='form-control' type='text' [ngModelOptions]='{standalone: true}' [(ngModel)]='user.address'>
        </td>
    </tr>
    <tr>
        <td>Phone</td>
        <td><input class='form-control' type='tel' [ngModelOptions]='{standalone: true}' [(ngModel)]='user.phone'>
        </td>
    </tr>

    <tr>
        <td>
            <button (click)="edit()">Save</button>
        </td>
    </tr>
</table>