<div class="card-container portfolio">
  <!-- <owl-carousel-o [options]="carouselOptions">
    <ng-template carouselSlide *ngFor="let item of data"> -->
    <div class="card slide" *ngFor="let item of data">
      <img [src]="'data:image/svg+xml;base64,'+item.image" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">{{ item.description }}</p>
        <p class="card-date">{{ item.date }}</p>
        <p class="card-collaborators">Collaborators: {{ item.collaborators.join(', ') }}</p>
      </div>
    </div>
    <!-- </ng-template>
  </owl-carousel-o> -->
</div>